.header-outer {
  height: 50px;
  align-items: center;
}
#root
{
    height: 92vh;
   max-width: 1200px; width: 100%;
    margin: 0 auto !important;
}
.right-nav{
  display: flex;
  justify-content: center;
}
.img-outer
{
    display: flex;
    justify-content: center;
}
.detail
{
    font-size: 14px;
}
.search-input {
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  cursor: text;
  white-space: nowrap;
  background: #f4f6f9;
  padding-left: 40px;
  padding-right: 12px;
  border: 1px solid rgba(76, 87, 102, 0.1);
  margin-right: 12px;
}
.search-icon {
  position: absolute;
  font-size: 22px;
  top: 9px;
  left: 23px;
}
.brow-prime {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e8fa;
  border-radius: 4px;
  color: #3930d8;
  margin-left: 12px;
  border: 0px;
  padding: 0 12px;
}
.get-prime {
  margin-left: auto;
  border: none;
  background: #3930d8;
  text-transform: uppercase;
  padding: 0 15px;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
  /* margin-left: 0; */
}
.left-head {
  display: flex;
  gap: 30px;
}
.left-head button {
  background: transparent;
  border: transparent;
  font-weight: 600;
  letter-spacing: 1px;
}
.CHALLENGES {
  color: #f2b621;
}
.navbar-hower button:hover{
  background-color: ghostwhite;
}

.down-head{
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.down-head span:hover{
  background-color: ghostwhite;
}
.w-75
{
    background-color: #f6f9fc;
}
@media (min-width: 768px) and (max-width:1024px) {
    .left-head
    {
        justify-content: end;
    }
}
@media (max-width: 768px) {
  .header-outer {
    height: 50px;
    align-items: center;
    width: 100%;
    margin: 0 auto !important;
  }
}


